<!-- Toastr JS -->

<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; HaNguyen IT</div>
      <div>
        <a href="https://hoidanit.vn/" target="_blank">Website</a>
        &middot;
        <a href="https://www.youtube.com/@hoidanit" target="_blank"
          >Youtube channel</a
        >
      </div>
    </div>
  </div>
</footer>
<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- ============ src/views/admin/layout/toast-script.ejs ============ -->
<!-- Thêm file này vào layout/footer.ejs hoặc layout/header.ejs -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
